.not-found {
    width: 100%;
    height: 100%;
    background-color: @primary-color;
    overflow: hidden;
    // display: flex;
    position: relative;
    .tips{
        color: @white-color;
        font-size: 18px;
        margin: 36px 0 0 0;
        letter-spacing: 3px;
    }
    .logo-btn {
        width: 720px;
        height: 480px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .img-404 {
            width: 720px;
        }

        .back-to-index {
            // position: absolute;
            // bottom: 60px;
            margin-top: 36px;
        }
    }

}